<?xml version="1.0"?>

<config>
    <modules>
        <Apptys_Documents>
            <version>0.3.2</version>
        </Apptys_Documents>
    </modules>
    <frontend>
        <secure_url>
            <apptys_documents>/documents/</apptys_documents>
        </secure_url>
        <routers>
            <documents>
                <use>standard</use>
                <args>
                    <module>Apptys_Documents</module>
                    <frontName>documents</frontName>
                </args>
            </documents>
        </routers>
        <layout>
            <updates>
                <apptys_documentspage module="apptys_documents">
                    <file>apptys_documentspage.xml</file>
                </apptys_documentspage>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <documents>
                    <file>apptys_documents.xml</file>
                </documents>
            </updates>
        </layout>
        <cms>
            <browser>
                <extensions>
                    <allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </allowed>
                    <image_allowed>
                        <jpg>1</jpg>
                        <jpeg>1</jpeg>
                        <png>1</png>
                        <gif>1</gif>
                    </image_allowed>
                    <media_allowed>
                        <flv>1</flv>
                        <swf>1</swf>
                        <avi>1</avi>
                        <mov>1</mov>
                        <rm>1</rm>
                        <wmv>1</wmv>
                        <mpg>1</mpg>
                        <mpeg>1</mpeg>
                        <mp4>1</mp4>
                        <mkv>1</mkv>
                        <qt>1</qt>
                        <m4v>1</m4v>
                    </media_allowed>
                </extensions>
                <window_width>1000</window_width>
                <window_height>600</window_height>
                <resize_width>100</resize_width>
                <resize_height>75</resize_height>
            </browser>
        </cms>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Apptys_Documents after="Mage_Adminhtml">Apptys_Documents_Adminhtml</Apptys_Documents>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <apptys_documents>
                <class>Apptys_Documents_Model</class>
                <resourceModel>apptys_documents_resource</resourceModel>
            </apptys_documents>
            <apptys_documents_resource>
                <class>Apptys_Documents_Model_Resource</class>
                <entities>
                    <document>
                        <table>document</table>
                    </document>
                </entities>
            </apptys_documents_resource>
        </models>
        <blocks>
            <apptys_documents>
                <class>Apptys_Documents_Block</class>
            </apptys_documents>
        </blocks>
        <helpers>
            <apptys_documents>
                <class>Apptys_Documents_Helper</class>
            </apptys_documents>
        </helpers>
        <resources>
            <apptys_documents_setup>
                <setup>
                    <module>Apptys_Documents</module>
                    <class>Apptys_Documents_Model_Entity_Setup</class>
                </setup>
            </apptys_documents_setup>
        </resources>
    </global>
</config>
